# Sequence types
1. Tuple (immutable)
2. Strings (immutable)
3. List (mutable)

In [5]:
# Tuples are defined using parentheses (and commas)
tu = (23, 'abc', 4.56, (2,3), 'def')
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [6]:
# Lists are defined using square brackets (and commas)
li = ["abc", 34, 4.34, 23]
print(li)

['abc', 34, 4.34, 23]

In [8]:
# Strings are defined using quotes (“, ‘, or ”””)
st1 = "Hello World"
st2 = 'Hello World'
st3 = """This is a multi-line
string that uses triple quotes."""
print(st1)
print(st2)
print(st3)

Hello World
Hello World
This is a multi-line
string that uses triple quotes.

### Take item from sequence

In [9]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1]    # Second item in the tuple

'abc'

In [10]:
li = ["abc", 34, 4.34, 23]
li[1]

34

In [12]:
st = "Hello World"
st[1]

'e'

### Negative indices

In [14]:
tu = (23, 'abc', 4.56, (2,3), 'def')
print(tu[1])
print(tu[-3])

abc
4.56

### Slicing: Return copy of a subset

In [15]:
tu = (23, 'abc', 4.56, (2,3), 'def')
print(tu[1:4])
print(tu[1:-1])
print(tu[1:-1:2])

('abc', 4.56, (2, 3))
('abc', 4.56, (2, 3))
('abc', (2, 3))

In [16]:
print(tu[:2])

(23, 'abc')

In [17]:
print(tu[2:])

(4.56, (2, 3), 'def')

### Copying the whole sequence

In [18]:
tu = (23, 'abc', 4.56, (2,3), 'def')
print(tu[:])

(23, 'abc', 4.56, (2, 3), 'def')

In [21]:
t = [23, 'abc', 4.56, (2,3), 'def']
t1 = t
t1[2] = 33
print(t1) 
print(t)  ## t is changed with t1

[23, 'abc', 33, (2, 3), 'def']
[23, 'abc', 33, (2, 3), 'def']

In [22]:
t = [23, 'abc', 4.56, (2,3), 'def']
t1 = t[:]
t1[2] = 33
print(t1) 
print(t)  ## t is not changed with t1

[23, 'abc', 33, (2, 3), 'def']
[23, 'abc', 4.56, (2, 3), 'def']

### The 'in' operator

In [24]:
t = [1, 2, 4, 5]
t = [1, 2, 4, 5]
print(3 in t)
print(4 in t)
print(4 not in t)

False
True
False

In [25]:
a = 'abcde'
print('c' in a)
print('cd' in a)
print('ac' in a)

True
True
False

### The + operator

In [26]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [27]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

### The * operator

In [23]:
(1,2,3)*2

(1, 2, 3, 1, 2, 3)

In [25]:
[4,5,6]*2

[4, 5, 6, 4, 5, 6]

In [26]:
'Hello'*2

'HelloHello'

### length, maxmium, and minimum

In [27]:
numbers = [100,34,678]
print(len(numbers))

3

In [28]:
max(numbers)

678

In [29]:
min(numbers)

34

## Mutability: Tuples VS Lists
### Lists: Mutable
### Tuples: Immutable

In [1]:
li = ['abc', 23, 4.34, 23]
li[1]

23

In [2]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[2] = 3.14

TypeError: 'tuple' object does not support item assignment

### Operations on Lists only

In [3]:
li = [1, 11, 3, 4, 5] 
li.append('a')
print(li)

li.insert(2, 'i')
print(li)

[1, 11, 3, 4, 5, 'a']
[1, 11, 'i', 3, 4, 5, 'a']

In [4]:
li = ['a', 'b', 'c', 'b'] 
print(li.index('b'))

print(li.count('b'))

li.remove('b')
print(li)

1
2
['a', 'c', 'b']

In [35]:
li = [5, 2, 6, 8] 
li.reverse() 
print(li)

[8, 6, 2, 5]
[2, 5, 6, 8]

In [37]:
x = [4,6,2,1,7,9]
y = sorted(x)
print(x)
print(y)

[4, 6, 2, 1, 7, 9]
[1, 2, 4, 6, 7, 9]

In [38]:
y1 = sorted(x,reverse=True)
print(y1)

[9, 7, 6, 4, 2, 1]

### The extend method vs the + operator

In [6]:
li.extend([9, 8, 7])
print(li)

li.append([10, 11, 12])
print(li)

[2, 5, 6, 8, 9, 8, 7]
[2, 5, 6, 8, 9, 8, 7, [10, 11, 12]]

# Dictionaries
### Creating and accessing dictionaries

In [10]:
d = {'user':'bozo', 'pswd':1234}
print(d['user'])
print(d['pswd'])
print(d['bozo'])

bozo
1234

KeyError: 'bozo'

### Updating dictionaries

In [12]:
d = {'user':'bozo', 'pswd':1234}
d['user'] = 'clown'
print(d)

{'user': 'clown', 'pswd': 1234}

In [14]:
d['id'] = 45
print(d)

{'user': 'clown', 'pswd': 1234, 'id': 45}

### Removing dictionaries entries

In [40]:
d = {'user':'bozo', 'p':1234, 'i':34}
del d['user'] 
print(d)

{'p': 1234, 'i': 34}

In [16]:
d.clear()                      
print(d)

{}

In [17]:
a=[1,2]
del a[1]                       
print(a)

[1]

### Useful accessor methods

In [18]:
d = {'user':'bozo', 'p':1234, 'i':34}
print(d.keys())

dict_keys(['user', 'p', 'i'])

In [21]:
print(d.values())

dict_values(['bozo', 1234, 34])

In [22]:
print(d.items())

dict_items([('user', 'bozo'), ('p', 1234), ('i', 34)])

### Boolean expression

In [25]:
a = 1
b = 5
print(a<3)
print(b>10)

True
False

In [26]:
a < 3 and b>10

False

In [27]:
a < 3 or b>10

True

In [28]:
not b>10

True

In [29]:
c = 6 if a<3 else a>7  # x = true_value if condition else false_value 
print(c)

6

In [32]:
a = 9
c = 6 if a<3 else 10
print(c)

10

# Strings
### String operations

In [5]:
'hello'.upper()

'HELLO'

In [6]:
'WORLD'.lower()

'world'

In [4]:
str1 = 'abc   '
print(len(str1))
print(len(str1.strip()))

6
3

### String formatting

In [13]:
x = 'abc'
y = 34
print("%s xyz %d" % (x, y))

abc xyz 34

### Printing with Python

In [15]:
print("%s xyz %d" % ("abc", 34))

abc xyz 34

In [14]:
print('abc', 'def')

abc def

### Printing with Python with .format()

In [11]:
'{} {}'.format('one', 'two')

'one two'

In [17]:
'{:.2f}'.format(3.141592653589793)

'3.14'

### String to List to String

In [19]:
';'.join(['abc','def','ghi'])

'abc;def;ghi'

In [20]:
'abc;def;ghi'.split(';')

['abc', 'def', 'ghi']

### Convert anything to string

In [21]:
'Hello ' + str(2)

'Hello 2'